<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/play.css">
    <meta charset="UTF-8">
    <title>밸런스 게임</title>
</head>
<body>
    <header>
        <div id="header-wrapper">
            <div id="site-title">
                밸런스 게임
            </div>
            <div id="menu-wrapper">
                <div id="creator">
                    제작자 github
                </div>
                <div id="report-error">
                    오류 제보하기
                </div>
            </div>
        </div>
    </header>
    <div id="content">
        <div id="content-wrapper">
            <div id="question-wrapper">
                <div id="question">
                    횡단보도 초록불이 깜빡거린다. 이때 당신은
                </div>
            </div>
            <div id="answer-wrapper">
                <div class="answer bg-red">빨리 건넌다.</div>
                <div class="answer bg-blue">다음 신호를 기다린다.</div>
            </div>
            <div id="comments">
                <div id="comments-count">
                    댓글 (0)
                </div>
                <div id="write-wrapper">
                    <input type="text" id="write-text">
                    <input type="submit" id="write-button" value="작성">
                </div>
                <div id="comments-wrapper">
                    <div id="name">
                        nyj001012
                    </div>
                    <div id="text">
                        시간도 많은데 그냥 다음에 건너지 뭐.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
         <div id="copyright">
             Copyright.2022.nyj001012.All rights reserved.
         </div>
    </footer>
</body>
</html>